flod_booking/arkiv/T10121_ArkivSak/ProxyServices/ArkicSak_FeSak_Sak.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.trondheim.kommune.no/Felles/Xml/Schema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://rep.trondheim.kommune.no/Felles/Xml/Schema">
	<xs:element name="Sak" type="ns:SakType"/>
	<xs:complexType name="SakType">
		<xs:sequence>
			<xs:element name="EksterntSaksnr" type="xs:string"/>
			<xs:element name="Tittel1" type="xs:string"/>
			<xs:element name="Tittel2" type="xs:string" minOccurs="0"/>	
            <xs:element name="OrdningsprinsippKode" type="xs:string"/>
			<xs:element name="Ordningsverdi" type="xs:string"/>
			<xs:element name="Ordningsbeskrivelse" type="xs:string"/>
			<xs:element name="Arkivdel" type="xs:string" minOccurs="0"/>
			<xs:element name="Saksansvarlig" type="xs:string"/>
			<xs:element name="ArkivKontekstReferanse" type="xs:string"/>
			<xs:element name="Tilgangsrestriksjonskode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Skjermingshjemmelkode" type="xs:string" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="SkjermingOpphoerer" type="xs:dateTime" minOccurs="0" maxOccurs="1"/> 
		</xs:sequence>
	</xs:complexType>
</xs:schema>