flod_booking/arkiv/T10122_Journalpostering/ProxyServices/JournalposteringResponse.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.trondheim.kommune.no/Felles/Xml/Schema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://rep.trondheim.kommune.no/Felles/Xml/Schema">
	<xs:element name="JournalPosteringResponse" type="ns:JournalPosteringResponseType"/>
	<xs:complexType name="JournalPosteringResponseType">
		<xs:sequence>
			<xs:element name="status" type="xs:string"/>
			<xs:element name="melding" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>