flod_booking/arkiv/T10122_Journalpostering/ProxyServices/JournalposteringRequest.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.trondheim.kommune.no/Felles/Xml/Schema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://rep.trondheim.kommune.no/Felles/Xml/Schema">
	<xs:include schemaLocation="http://testsoa.tk.infostorm.no:7002//T10122_Journalpostering/ProxyServices/Journalpostering?SCHEMA%2FT10122_Journalpostering%2FResources%2FFeSak_JournalPostering"/>
	<xs:include schemaLocation="http://testsoa.tk.infostorm.no:7002//T10122_Journalpostering/ProxyServices/Journalpostering?SCHEMA%2FT10122_Journalpostering%2FResources%2FFe_Header"/>
	<xs:element name="JournalPosteringRequest" type="ns:JournalPosteringRequestType"/>
	<xs:complexType name="JournalPosteringRequestType">
		<xs:sequence>
			<xs:element name="header" type="ns:HeaderType"/>
			<xs:element name="JournalPostering" type="ns:JournalPosteringType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>